@model IEnumerable<Silownia.Models.Order>
@{
    ViewBag.Title = "Index";
    var pusty = "-------------------------------";
}

<h2>Panel administratora</h2>

<table class="table">
    <tr>
        <th>
            @Html.Label("Id")
        </th>
        <th>
            @Html.Label("Uzytkownik")
        </th>
        <th>
            @Html.Label("Data złożenia zamówienia")
        </th>
        <th>
            @Html.Label("Cena całego zamówienia")
        </th>
        <th>
            @Html.Label("Status")
        </th>
        <th>
            @Html.Label("Szczegóły")
        </th>
        <th>
            @Html.Label("Opcje")
        </th>
    </tr>

    @foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data_Order)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) zł
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td> 
                     @Html.ActionLink("Pokaż szczegóły", "Details", "FulFillOrder", new { id = @item.ID }, new { @class = "btn btn-info" })  
                 </td>
                <td>   
                    @if(item.Status.Name == "Oczekuje")
                    {
                        @Html.ActionLink("Akceptuj", "Accept", "FulFillOrder", new { id = @item.ID }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Odrzuć", "Discard", "FulFillOrder", new { id = @item.ID }, new { @class = "btn btn-danger" })
                    }
                    else
                    {
                        @pusty
                    }

                </td>
            </tr>
   }
</table>